@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

:root {
  --bg: #fff;
  --font: #272727;
  --primary: #4f98ca;
  --secondary: #50d890;
  --tertiary: #35495e;
}

[data-theme='dark'] {
  --bg: #1b262c;
  --font: #edf7fa;
  --primary: #0f4c75;
  --secondary: #3282b8;
  --tertiary: #bbe1fa;
}

* {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--font);
}
body {
  padding: 20px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
  border: 2px solid var(--font);
  color: var(--font);
  background: var(--bg);
  padding: 10px;
}

::placeholder {
  color: var(--font);
  opacity: .5;
}

.pager {
  display: flex;

  &__item {
    padding: 10px;
    border: 2px solid var(--font);
    cursor: pointer;

    + .pager__item {
      margin-left: 10px;
    }

    &:hover,
    &:focus,
    &--active {
      background: var(--secondary);
    }
  }
}

.search {
  display: flex;
  padding: 10px 0;

  &__input {
    padding: 10px;
    color: var(--font);
    background: var(--bg);
    border: 2px solid var(--font);
  }

  &__button {
    margin-left: 10px;

    &:hover,
    &:focus {
      background: var(--secondary);
    }
  }
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  margin: 0 0 10px;
  animation: fromLeft .25s ease-out;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

.theme-switch {
  display: inline-block;
  height: 32px;
  position: relative;
  width: 74px;

  input {
    display:none;

    &:checked + .slider {
      background-color: var(--secondary);

      &:before {
        transform: translateX(42px);
      }
    }
  }
}

.slider {
  cursor: pointer;
  background-color: var(--font);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: .5s;
  border-radius: 42px;

  &:before {
    content: '';
    background-color: var(--bg);
    position: absolute;
    bottom: 2px;
    left: 2px;
    height: 28px;
    width: 28px;
    transition: .5s;
    border-radius: 50%;
  }
}
